{% extends 'admin/base.admin.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}


{% block body %}
    <div class="container mt-4">
        <h1>Modidifier utilisateur</h1>
        <hr>
        {{ include('admin/user/_form.html.twig') }}
    </div>

{% endblock %}


