{% extends 'admin/base.admin.html.twig' %}

{% block title %} Créer un nouvel évènement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Creer évènement</h1>
        <hr>
        {{ include('admin/calendrier/_form.html.twig') }}
    </div>
{% endblock %}

